html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font;
  background-color: $color-bg;
  color: $color-dark;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  border: none;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.is-hidden {
  display: none !important;
}

.is-scroll-fixed {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1024px;
  min-width: 768px;
}

