$font: "Open Sans", "Verdana", sans-serif;

// COLORS
$color-white: #fff;
$color-bg: #F5F5F5;
$color-firm: #9873FF;
$color-firm-light: #B89EFF;
$color-border: #C8C5D1;
$color-secondary-text: #B0B0B0;
$color-dark: #333333;
$color-select-bg: #E7E5EB;
$color-option-bg: #F4F3F6;
$color-option-hover: #EEEDF0;
$color-option-active: #EAE9EC;
$color-error: #F06A4D;